.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #422006;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  background-color: white;
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 8px 24px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border: 1px solid #422006 !important;
  color: black;
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
